.homeContent{
  margin: 0 auto;
  max-width: 760px;  
  padding: 2rem 0;
}

.loadMorePostsButton{  
  border: none;
  background-color: transparent;
  color: var(--highlight);
  font-size: 1.1rem;
  font-weight: 700;    
  margin-bottom: 6rem;  

  &:hover{ 
    text-decoration: underline;    
  }  
}